/* Hero spécifique à la page visite */
.visit-hero {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://tickets.fcbarcelona.com/fcb-museum/images/en/headers/basic-tour-header.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.visit-hero h1 {
  font-size: 4em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 2px 2px 10px black;
}

.visit-hero p {
  font-size: 1.5em;
  color: #FFD700;
  margin-top: 10px;
}